[submodule "SimVis"]
	path = SimVis
	url = https://github.com/ComputationalPhysics/SimVis.git
[submodule "atomify-lammps/examples"]
	path = atomify-lammps/examples
	url = https://github.com/ovilab/atomify-lammps-examples.git
